/* DisplayCard.module.css */
.cardContainer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: center;
	margin-top: 20px;
	column-gap: 20px;
	row-gap: 20px;
	height: 100%;
}

.card {
	background-color: #f9f9f9;
	border-radius: 25px;
	box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	width: 400px; /* Fixed width */
	height: 90%; /* Fixed height */
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	cursor: pointer;
	transition: transform 0.2s ease-in-out;
}

.card:hover {
	transform: scale(1.03); /* Slightly enlarges the card on hover */
}

.cardDescription {
	padding: 15px;
	font-size: 14px;
	line-height: 1.6;
	overflow: hidden;
	text-overflow: ellipsis;
	height: fit-content;
}
.sessionTitle{
	font-weight: bold;
}
.otherDetails{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-top: 20px;
}
.otherDetails>:nth-of-type(2){
	background-color: green;
	padding: 10px;
	border-radius: 20px;
	color: #fff;
}
.locationDetails{
	display: flex;
	gap: 10px;
}
.locationIcon{
	height: 20px;
}
.topics{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin-bottom: 20px;
}
.topic{
	background-color: rgb(104, 104, 104);
	padding: 10px;
	color: #fff;
	border-radius: 20px;
	min-width: 70px;
}
.name{
font-weight: bold;
}