.card {
	background-color: #f9f9f9;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	width: 400px; 
	height: 300px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	cursor: pointer;
	transition: transform 0.2s ease-in-out;
}

.card:hover {
	transform: scale(1.05);
}

.cardDescription {
	padding: 15px;
	font-size: 14px;
	color: #333;
	line-height: 1.6;
	overflow: hidden;
	text-overflow: ellipsis;
}