.btnDiv{
    display: flex;
    justify-content: start;
    gap: 20px;
}
.AtBtn{
    background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: large;
  font-weight: 600;
  margin: 0 px;
  padding: 10px 20px;
}

.AtBtn:hover{
    border-bottom: 2px solid #000;
}